p {
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    background-color: rgb(61, 24, 61);
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;

}

